<div class="container">

  <div class="form-container my-3 mx-2 position-relative">
    <div class="d-flex justify-content-center ticket-options-container text-center">
      <div class="col col-md-2 cursor text-center p-2 cursor-pointer badge badge-pill" (click)="showByType('city')"
        [ngClass]="{'badge-primary' : selectedType == 'city',
                      'badge-light' : selectedType != 'city'}">
        By City
      </div>
      

      <div class="col col-md-2 cursor text-center p-2 cursor-pointer badge badge-pill" (click)="showByType('state')"
        [ngClass]="{'badge-primary' : selectedType == 'state',
                      'badge-light' : selectedType != 'state'}">
        By State
      </div>

      <div class="col cursor col-md-2 text-center p-2 cursor-pointer badge badge-pill" (click)="showByType('country')"
        [ngClass]="{'badge-primary' : selectedType == 'country',
                      'badge-light' : selectedType != 'country' }">
        By Country
      </div>
      
    </div>
    <section *ngIf="selectedType == 'country'">
      <div class="h5 text-center text-primary my-4">Get report By Country</div>
      <div class="row my-5">
        <div class="col-4 text-white">
          Country
        </div>
        <div class="col-8" *ngIf="countriesList">
          <ng-autocomplete [data]="countriesList.Countries" [searchKeyword]="keyword"
            (selected)='selectCustomer($event)' placeholder="Enter the country" [itemTemplate]="itemTemplate" name=""
            [notFoundTemplate]="notFoundTemplate">
          </ng-autocomplete>
          <ng-template #itemTemplate let-item>
            <a [innerHTML]="item.Country"></a>
          </ng-template>

          <ng-template #notFoundTemplate let-notFound>
            <div [innerHTML]="notFound"></div>
          </ng-template>
        </div>
      </div>


      <div class="row">
        <div class="col-sm-6 col-12" *ngIf="chartLabel && countryTotalChartData.length">
          <div *ngIf="activeCountryStatus" class="h5 text-center text-primary my-4">Total Count of Covid-19 in
            {{activeCountryStatus.Country}}</div>
          <app-piechart [label]="chartLabel" [data]="countryTotalChartData"></app-piechart>
          <div class="card bg-primary text-white text-center" *ngIf="activeCountryStatus">
            <span>Total Cases: {{activeCountryStatus.TotalConfirmed}} </span>
            <span>Recovered: {{activeCountryStatus.TotalRecovered}} </span>
            <span>Death: {{activeCountryStatus.TotalDeaths}} </span>
          </div>
        </div>
        <div class="col-sm-6 col-12" *ngIf="chartLabel && countryLatestChartData.length">
          <div *ngIf="activeCountryStatus" class="h5 text-center text-primary my-4">Total Count of Covid-19 in
            {{activeCountryStatus.Country}} on Yesterday</div>
          <app-piechart [label]="chartLabel" [data]="countryLatestChartData"></app-piechart>

          <div class="card bg-primary text-white text-center" *ngIf="activeCountryStatus">
            <span>Total Cases: {{activeCountryStatus.NewConfirmed}} </span>
            <span>Recovered: {{activeCountryStatus.NewRecovered}} </span>
            <span>Death: {{activeCountryStatus.NewDeaths}} </span>

          </div>
        </div>
      </div>
    </section>

    <section *ngIf="selectedType == 'state'">
      <div class="h5 text-center text-primary my-4">Get report By Indian States</div>
      <div class="row my-5">
        <div class="col-4 text-white">
          State:
        </div>
        <div class="col-8" *ngIf="stateList">
          <ng-autocomplete [data]="stateList" [searchKeyword]="'state'" (selected)='selectedState($event)'
            [itemTemplate]="itemTemplate1" name="" [notFoundTemplate]="notFoundTemplate1">
          </ng-autocomplete>
          <ng-template #itemTemplate1 let-item>
            <a [innerHTML]="item.state"></a>
          </ng-template>

          <ng-template #notFoundTemplate1 let-notFound>
            <div [innerHTML]="notFound"></div>
          </ng-template>
        </div>
      </div>


      <div *ngIf="activeStateStatus" class="h5 text-center text-primary my-4">Total Count of Covid-19 in
        {{activeStateStatus.state}}</div>
      <div class="my-2" *ngIf="activeStateStatus && stateTotalChartData.length">
        <div class="d-flex justify-content-center" *ngIf="activeStateStatus">

          <app-piechart [label]="chartLabel" [data]="stateTotalChartData"></app-piechart>
        </div>
        <div class="d-flex justify-content-center" *ngIf="activeStateStatus">
          <div class="card bg-primary text-white text-center px-4 py-1" *ngIf="activeStateStatus">
            <span>Total Cases: {{activeStateStatus.noOfCases}} </span>
            <span>Recovered: {{activeStateStatus.cured}} </span>
            <span>Death: {{activeStateStatus.deaths}} </span>
          </div>
        </div>

      </div>

    </section>


    <!-- By City -->

    <section *ngIf="selectedType == 'city'">
      <div class="h5 text-center text-primary my-4">Get report By Indian City</div>
      <div class="row my-5">
        <div class="col-4 text-white">
          Select the state:
        </div>
        <div class="col-8" *ngIf="statesInDistrict">
          <ng-autocomplete [data]="statesInDistrict" [searchKeyword]="'state'" (selected)='getCityList($event)'
            [itemTemplate]="itemTemplate1" name="" [notFoundTemplate]="notFoundTemplate1">
          </ng-autocomplete>
          <ng-template #itemTemplate1 let-item>
            <a [innerHTML]="item"></a>
          </ng-template>

          <ng-template #notFoundTemplate1 let-notFound>
            <div [innerHTML]="notFound"></div>
          </ng-template>
        </div>
      </div>

      <div class="row my-5">
        <div class="col-4 text-white">
          Select the City:
        </div>
        <div class="col-8">
          <ng-autocomplete [data]="citiesList" [searchKeyword]="" (selected)='getStatusOfCity($event)'
            [itemTemplate]="itemTemplate1" name="" [notFoundTemplate]="notFoundTemplate1">
          </ng-autocomplete>
          <ng-template #itemTemplate1 let-item>
            <a [innerHTML]="item"></a>
          </ng-template>

          <ng-template #notFoundTemplate1 let-notFound>
            <div [innerHTML]="notFound"></div>
          </ng-template>
        </div>
      </div>


      <div class="row my-2" *ngIf="activeCityStatus">

        <div class="col-sm-6 col-12" *ngIf="cityTotalChartData.length">
          <div *ngIf="activeCityStatus" class="h5 text-center text-primary my-4">Total Count of Covid-19 in
            {{selectedCity}}</div>
          <app-piechart [label]="cityChartLabel" [data]="cityTotalChartData"></app-piechart>
          <div class="card bg-primary text-white text-center" *ngIf="activeCityStatus">
            <span>Total Cases: {{activeCityStatus.confirmed}} </span>
            <span>Active: {{activeCityStatus.active}} </span>
            <span>Recovered: {{activeCityStatus.recovered}} </span>
            <span>Death: {{activeCityStatus.deceased}} </span>
          </div>
        </div>
        <div class="col-sm-6 col-12" *ngIf="cityLatestChartData.length">
          <div *ngIf="activeCityStatus" class="h5 text-center text-primary my-4">Yesterdays's Count in
            {{selectedCity}}</div>
          <app-piechart [label]="chartLabel" [data]="cityLatestChartData"></app-piechart>

          <div class="card bg-primary text-white text-center" *ngIf="activeCityStatus">
            <span>Total Cases: {{activeCityStatus.delta.confirmed}} </span>
            <span>Recovered: {{activeCityStatus.delta.recovered}} </span>
            <span>Death: {{activeCityStatus.delta.deceased}} </span>

          </div>
        </div>

      </div>
    </section>
  </div>