<div class="container">

  <div class="form-container my-3 mx-2 position-relative">
    <div class="d-flex justify-content-center ticket-options-container text-center">
      <div class="col cursor col-md-2 text-center p-2 cursor-pointer badge badge-pill" (click)="showByType('country')"
        [ngClass]="{'badge-primary' : selectedType == 'country',
                      'badge-light' : selectedType != 'country' }">
        By Country
      </div>

      <div class="col col-md-2 cursor text-center p-2 cursor-pointer badge badge-pill" (click)="showByType('state')"
        [ngClass]="{'badge-primary' : selectedType == 'state',
                      'badge-light' : selectedType != 'state'}">
        By State
      </div>

      <div class="col col-md-2 cursor text-center p-2 cursor-pointer badge badge-pill" (click)="showByType('city')"
        [ngClass]="{'badge-primary' : selectedType == 'city',
                      'badge-light' : selectedType != 'city'}">
        By City
      </div>
    </div>
    <section *ngIf="selectedType == 'country'">
      <div class="h5 text-center text-primary my-4">Get report By Country</div>
      <div class="row my-5">
        <div class="col-4 text-white">
          Country
        </div>
        <div class="col-8" *ngIf="countriesList">
          <ng-autocomplete [data]="countriesList.Countries" [searchKeyword]="keyword"
            (selected)='selectCustomer($event)' placeholder="Enter the country" [itemTemplate]="itemTemplate" name=""
            [notFoundTemplate]="notFoundTemplate">
          </ng-autocomplete>
          <ng-template #itemTemplate let-item>
            <a [innerHTML]="item.Country"></a>
          </ng-template>

          <ng-template #notFoundTemplate let-notFound>
            <div [innerHTML]="notFound"></div>
          </ng-template>
        </div>
      </div>

      <div *ngIf="activeCountryStatus" class="h5 text-center text-primary my-4">Total Count of Covid-19 in
        {{activeCountryStatus.Country}}</div>
      <div class="row my-2" *ngIf="activeCountryStatus">
        <div class="col-4 text-center card bg-primary text-white p-2">
          <span>Confirmed </span>
          <span>{{activeCountryStatus.TotalConfirmed}}</span>
          <span class="date-font">Last Updated On {{activeCountryStatus.Date | date: 'fullDate'}}</span>
        </div>

        <div class="col-4 text-center card bg-success text-white p-2">
          <span>Recovered </span>
          <span>{{activeCountryStatus.TotalRecovered}}</span>
          <span class="date-font">Last Updated On {{activeCountryStatus.Date | date: 'fullDate'}}</span>
        </div>
        <div class="col-4 text-center card bg-danger text-white p-2">

          <span>Death </span>
          <span>{{activeCountryStatus.TotalDeaths}}</span>
          <span class="date-font">Last Updated On {{activeCountryStatus.Date | date: 'fullDate'}}</span>
        </div>
      </div>

      <div *ngIf="activeCountryStatus" class="h5 text-center text-primary my-4">Total Count of Covid-19 in
        {{activeCountryStatus.Country}} on {{activeCountryStatus.Date | date: 'fullDate'}}</div>
      <div class="row my-2" *ngIf="activeCountryStatus">
        <div class="col-4 text-center card bg-primary text-white p-2">
          <span>Confirmed </span>
          <span>{{activeCountryStatus.NewConfirmed}}</span>
        </div>

        <div class="col-4 text-center card bg-success text-white p-2">
          <span>Recovered </span>
          <span>{{activeCountryStatus.NewRecovered}}</span>
        </div>
        <div class="col-4 text-center card bg-danger text-white p-2">

          <span>Death </span>
          <span>{{activeCountryStatus.NewDeaths}}</span>
        </div>
      </div>
    </section>

    <section *ngIf="selectedType == 'state'">
      <div class="h5 text-center text-primary my-4">Get report By Indian States</div>
      <div class="row my-5">
        <div class="col-4 text-white">
          State:
        </div>
        <div class="col-8" *ngIf="stateList">
          <ng-autocomplete [data]="stateList" [searchKeyword]="'state'" (selected)='selectedState($event)'
            [itemTemplate]="itemTemplate1" name="" [notFoundTemplate]="notFoundTemplate1">
          </ng-autocomplete>
          <ng-template #itemTemplate1 let-item>
            <a [innerHTML]="item.state"></a>
          </ng-template>

          <ng-template #notFoundTemplate1 let-notFound>
            <div [innerHTML]="notFound"></div>
          </ng-template>
        </div>
      </div>

      <div *ngIf="activeStateStatus" class="h5 text-center text-primary my-4">Total Count of Covid-19 in
        {{activeStateStatus.state}}</div>

      <div class="row my-2" *ngIf="activeStateStatus">
        <div class="col-4 text-center card bg-primary text-white p-2">
          <span>Confirmed </span>
          <span>{{activeStateStatus.noOfCases}}</span>
        </div>

        <div class="col-4 text-center card bg-success text-white p-2">
          <span>Recovered </span>
          <span>{{activeStateStatus.cured}}</span>
        </div>
        <div class="col-4 text-center card bg-danger text-white p-2">

          <span>Death </span>
          <span>{{activeStateStatus.deaths}}</span>

        </div>
      </div>
    </section>


    <!-- By City -->

    <section *ngIf="selectedType == 'city'">
      <div class="h5 text-center text-primary my-4">Get report By Indian City</div>
      <div class="row my-5">
        <div class="col-4 text-white">
          Select the state:
        </div>
        <div class="col-8" *ngIf="statesInDistrict">
          <ng-autocomplete [data]="statesInDistrict" [searchKeyword]="'state'" (selected)='getCityList($event)'
            [itemTemplate]="itemTemplate1" name="" [notFoundTemplate]="notFoundTemplate1">
          </ng-autocomplete>
          <ng-template #itemTemplate1 let-item>
            <a [innerHTML]="item"></a>
          </ng-template>

          <ng-template #notFoundTemplate1 let-notFound>
            <div [innerHTML]="notFound"></div>
          </ng-template>
        </div>
      </div>

      <div class="row my-5">
        <div class="col-4 text-white">
          Select the City:
        </div>
        <div class="col-8">
          <ng-autocomplete [data]="citiesList" [searchKeyword]="" (selected)='getStatusOfCity($event)'
            [itemTemplate]="itemTemplate1" name="" [notFoundTemplate]="notFoundTemplate1">
          </ng-autocomplete>
          <ng-template #itemTemplate1 let-item>
            <a [innerHTML]="item"></a>
          </ng-template>

          <ng-template #notFoundTemplate1 let-notFound>
            <div [innerHTML]="notFound"></div>
          </ng-template>
        </div>
      </div>

      <div *ngIf="activeCityStatus" class="h5 text-center text-primary my-4">Total Count of Covid-19 in {{selectedCity}}
      </div>

      <div class="row my-2" *ngIf="activeCityStatus">
        <div class="col-3 text-center card bg-primary text-white p-2">
          <span>Confirmed </span>
          <span>{{activeCityStatus.confirmed}}</span>
        </div>

        <div class="col-3 text-center card bg-warning text-white p-2">
          <span>Active </span>
          <span>{{activeCityStatus.active}}</span>
        </div>

        <div class="col-3 text-center card bg-success text-white p-2">
          <span>Recovered </span>
          <span>{{activeCityStatus.recovered}}</span>
        </div>
        <div class="col-3 text-center card bg-danger text-white p-2">

          <span>Deceased</span>
          <span>{{activeCityStatus.deceased}}</span>
        </div>
      </div>

      <div *ngIf="activeCityStatus" class="h5 text-center text-primary my-4">Today's Count in {{selectedCity}}</div>
      <div class="row my-2" *ngIf="activeCityStatus">
        <div class="col-4 text-center card bg-primary text-white p-2">
          <span>Confirmed </span>
          <span>{{activeCityStatus.delta.confirmed}}</span>
        </div>

        <div class="col-4 text-center card bg-success text-white p-2">
          <span>Recovered </span>
          <span>{{activeCityStatus.delta.recovered}}</span>

        </div>
        <div class="col-4 text-center card bg-danger text-white p-2">

          <span>Deceased</span>
          <span>{{activeCityStatus.delta.deceased}}</span>


        </div>
      </div>
    </section>
  </div>